<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Audio PDF Reader</title>
  <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/fontawesome/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
    integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww=="
    crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="js/main.js" defer></script>
</head>

<body>
  <div class="container">
    <div class="header align-items-center bg-light d-flex justify-content-between p-4">
      <div class="d-flex align-items-center">
        <a href="/"><i class="fas fa-arrow-left"></i></a>
        <h3 class="mx-3">
          <%= name %>
        </h3>
      </div>
      <div class="actions d-flex align-items-center">
        <span class="mx-2">Play</span> <i id="play" class="fas fa-play fa-2x"></i>
        <span class="mx-2">Pause</span> <i id="pause" class="fas fa-pause fa-2x"></i>
      </div>
    </div>
    <div class="">
      No of pages: <%= pages %>
    </div>
    <hr class="hr">
    <div class="body mt-4" style="height:calc(100vh - 230px); overflow-y: scroll;">
      <p id="text">
        <%= text %>
      </p>
    </div>
    <div class="footer text-center">
      <h3>Powered By Hi-Tech</h3>
      <p>&copy; 2022</p>
    </div>
  </div>
</body>

</html>